/* RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

.box {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

/* BODY */
body {
  background-color: #FFC300;
  font-family: Trebuchet MS, Arial, sans-serif;
  line-height: 1;
}

/* IMAGE / HERO */
img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #000814;
  color: white;
  height: 600px;
}

/* NAVIGATION */
.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav ul {
  display: flex;
  list-style-type: none;
}

.hero nav li {
  padding: 15px;
}

.hero nav a {
  color: white;
}

.hero nav a:hover {
  color: #a2d0fc;
}

.hero-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.hero-content img {
  width: 50%;
}

.hero-content h1 {
  font-size: 50px;
  line-height: 1.2;
}

/* BUTTONS */
.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary {
  background-color: #001c47;
  color: white;
}

.btn-secondary {
  background-color: #a2d0fc;
  color: black;
}